 <div class = "skts-wizard bilafgift-afgift skts-app">
        
    <h1>bilafgifter</h1>

    <p>Du kan her beregne dine årlige udgifter til ejerafgift..</p>

    <p>Er du ved at købe en brugt bil kan du se detaljer, bl.a. om de løbende afgifter ...</p>

    <a href="https://motorregister.skat.dk/dmr-front/appmanager/skat/dmr?_nfls=false&_nfpb=true&_pageLabel=vis_koeretoej_side">
        Afgifter i motorregister
    </a>

    <div class="row main-bilafgift-container well">
        <div class = "col-md-5">
            <h3>Indstillinger</h3>

            <p></p>
            <div *ngFor = "let parameter of model" class = "parameter" [class.missing-parameter] = "isEmptyParameter(parameter)">
                
                <selector 
                    [options]   = "getOptionsWrapper(parameter.prop) | async"
                    [label]     = "getLabelForOptions(parameter.prop) | async"
                    [(value)]   = "parameter.val"
                    (changed)   = "updateModel($event)"
                ></selector>

            </div>
        </div>

        <div class = "col-md-7">

            <div class = "calculations-area">

                    
                    <div class="special-vehicle-info" *ngIf = "extraVehicleInfo()">

                        {{txt(vehicleName() + '_info') | async}}
                    </div>


                <div class = "waiting-results" *ngIf = "!allParametersHasValue() && !error">
                    <h3>Du mangler at udfylde noget</h3>
                    <p><br/>For at du kan beregne din årlige udgift skal alt være udfyldt.</p>

                    <p *ngIf = "liveData?.containsTable()">De generelle satser ser du i tabellen herunder:</p>
                </div>

                <div class = "waiting-results" *ngIf = "getData.isLoadingData">
                    <h3>Loader data ... </h3>
                </div>

                <div class = "something-is-wrong" *ngIf = "error">
                    <h3>Beklager - noget gik galt</h3> 
                    <p>
                        Prøv at genindlæse siden.        
                       
                    </p>
                </div>
                    
                <div *ngIf = "liveData && !liveData?.isEmpty">

                    <div class = "user-input" *ngIf = "allParametersHasValue()">

                        <h3>Beregn din årlig afgift</h3>

                        <p></p>

                        <div *ngIf = "!liveData?.isVariableIndependent()" class = "user-input">

                            <label for = "USER"> 
                                {{printLabelInput(liveData.inputType) | async}}
                            </label>                    
                            
                            <input [(ngModel)] = "userInput" class = "form-control" id = "USER"  [attr.placeholder] = "printPlaceHolderUSER(liveData.inputType) | async" />
                            
                        </div>

                        <h3>Result</h3>

                        <div class = "unique-result" *ngIf = "liveData.getTotal(userInput) == -1">

                            Vises her når du har tastet ...

                        </div>

                        <div class = "unique-result" *ngIf = "liveData.getTotal(userInput) >= 0 || liveData?.isVariableIndependent()">
                            <div class = "table-like" *ngFor = "let result of liveData.getAllValuesFromUserInput(userInput)">       
                                <div class = "type-header">
                                    {{printType(result.data) | async}}
                                        
                                </div>                        

                                <div class = "special-calculations" *ngIf = "result.specialLoad()">
                                    
                                    {{printDiffentiatedInterval(liveData.getPeriodOfIndex(result.data.index)) | async}}: 
                                    {{liveData.closestHundredUp(userInput,result.data.object.units)}} {{txt(liveData.inputType) | async}} 
                                    (rundet up) / 
                                    {{result.data.object.units}} <span class = "multiplication"> </span> 
                                    {{result.data.object.val}} kr. = 
                                    
                                    {{result.data.val | tusindtal}} kr.
                                </div>

                                <div class = "year-calculations">
                                    <div>
                                        {{result.periodsPrYear()}} 
                                        <span class = "multiplication"> </span> 
                                        {{result.data.val | tusindtal}} kr.
                                    </div>
                                    <div>{{result.sum() | tusindtal}} kr.</div>
                                </div>

                            </div>
                        
                            <div class = "table-row sum-calculations">
                                <div>Afgift i alt pr år</div>
                                <div>{{liveData.getTotal(userInput) | tusindtal}} kr.</div>
                            </div>
                        
                        </div>

                    </div>


                    <div class = "result" *ngIf = "liveData">
    
                        <h3>Tabeloversigt</h3>
    
                        <p *ngIf = "!liveData.tableRowsHasDifferentPeriods()">Viser satser 
                            {{ printDiffentiatedInterval(liveData.getCommonTablePeriod()) | async }}
                        </p>

                        <table class = "table-area">
                            <tr>

                                <th>Interval</th>
                                <th *ngFor = "let name of liveData.getColumnNames()">
                                    {{printColumnName(name) | async}}
                                </th>
        
                            </tr>
                            <tr *ngFor = "let row of liveData?.interval;let i = index" [class.val-in-row] = "valueIsRow(i)">
                                <td>
                                    <div *ngIf = "!liveData.singleInterval(row)">
                                        {{row.from | decimalDK}} -
                                        {{row.to | decimalDK}} {{txt(liveData.inputType) | async}}

                                        <div *ngIf = "liveData.tableRowsHasDifferentPeriods()">
                                            {{printDiffentiatedInterval(liveData.getPeriodOfIndex(i)) | async}}
                                        </div>
                                    </div>

                                    <div *ngIf = "liveData.singleInterval(row)">
                                        {{txt('all') | async}}
                                    </div>

                       
                                </td>
                                <td *ngFor = "let name of liveData.getColumnNames()">

                                    <div class = "normal" *ngIf = "liveData.getValue_fromIndex(i,name).val > -1">
                                        {{liveData.getValue_fromIndex(i,name).val | tusindtal}} kr.
                                    </div>

                                    <div class = "special-table-value" *ngIf = "liveData.getValue_fromIndex(i,name).val == -1">
                                    {{liveData.getValue_fromIndex(i,name).object.val}} kr. pr. <br/>
                                    {{liveData.getValue_fromIndex(i,name).object.units}} {{txt(liveData.inputType) | async}}
                                    </div>

                                    <div class = "normal" *ngIf = "liveData.getValue_fromIndex(i,name).val == -2">
                                       -
                                    </div>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>