ul.deadline {
    list-style: none;
    padding:0;
}


.deadline li {
    border-top: 1px solid #9B9B9A;
    padding: 1.3em 0;
}

/*
.instillinger label {



} 
*/

.checkbox-label {

    font-weight: bold;
    padding:0.8em 0 0 0;

}

.flow-directions-button {

    background: none;
    padding: 0.6em 2em;
    border:1px solid gray

}

.flow-directions-button:hover  {

    color:black;
    zoom: 1.1

}


.buttons-in-bottom {
    padding-bottom: 1em;
}

.indstillinger-toggle {
    position:relative;
    top:-5px;
}

.virksomheds-kalender {

    border: 1px solid #9B9B9A;
    padding: 1.3em;
    margin: 4.5em auto 2em;
    width: 23em;
    margin-bottom:3em;
    padding-bottom:0
}

.triangle:after {
    bottom: -15px;
    left: 22px;
    border-top-color: #fff;
    border-width: 15px;
}


.triangle:before {
    bottom: -16px;
    left: 22px;
    border-top-color: #fff;
    border-width: 15px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;;
}

.super-level {
    font-weight: bold
}

.indstillinger {
    padding:1em 0;
    margin:2em 0;
    border-top: 1px dotted gray; 
    border-bottom: 1px dotted gray; 

}

.frist-type-total {
    font-size:0.85em;
}

.toggle-all {
    font-size: 0.75em;
}

.isSoonDue {
    color:orangered;
    border-bottom:1px dotted orangered;
}

.calender-empty {
    border-top:1px dotted dimgray;
    border-bottom:1px dotted dimgray;
    padding:1em 0;
    margin:2em 0;
    

}

.olddeadlines {
    color:lightslategray;
    text-decoration:line-through;
}

.first-view {
    font-size: 0.9em;
    border-top:1px solid gray;
    padding-top:1em;
    color:slategrey;

}

.small-text {
    font-size: 0.9em;
}

.virksomheds-kalender  .btn:focus, .btn:hover, .btn.active {
    color: black;
}