
.asLink {
    background:white;
    border:none;
    color:#1a0dab;;
    padding:0;
    text-decoration:underline;

}

.focus-on-number {
    font-size:2em;
}

.gave-afgift h3 {

    font-size:1.5em;
    font-weight:100;
    margin-top:0.7em;
    margin-bottom:0.3em

}

.gave-afgift h4 {

    font-size:1.3em;
    font-weight:100;
    margin-top:0.7em;
    margin-bottom:0.3em

}

.arrow {
    background: url(../images/sprite.svg) -222px -66px no-repeat;
    display: inline-block;
    color: transparent;
    outline: transparent;
    white-space: pre-wrap;
    border: none;
    padding: 0;
    width: 1.7em;
    height: 1.7em;


}

.skts-foldout {
    background: #FFF;
    width:100%;
    border: 1px solid #395F77;
    margin-top:1em;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;

}

.skts-foldout-clickable {
    background: #FFF;
    cursor: pointer;
    width:100%;
    border:none;
    padding:1.3em;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.skts-foldout-clickable:hover {
    background: #e2e8eb

}

.skts-foldout-clickable:focus,.asLink {
    outline:none;
}

.skts-foldout-clickable-is-open {
    border-bottom: 1px solid #395F77
}

.foldout-body {
    padding:1.3em;
}

.semi-large {
    font-size: 1.5em;
}

.group-details {
    margin-top:-1.5em;
    font-size:0.8em;
}

.info-section {
    padding-bottom: 1em;
}

.action-link {
    display: block;
    border:1px solid gray;
    padding:1.3em;
    text-align: center;
    text-decoration: none;
    margin:1em 0;
    
}

ol.variables-on-form {
    margin:0.5em 0;
}

.extra-small {
    font-size: 0.5em;
}

.small-select {
    font-size:0.5em;
}