

    <div class = "row">
        <div class = "col-xs-12">

            <input type="text"
                class="form-control js-date-picker-with-range {{paakraevet ? 'skts-required-val' : ''}}"
                id="{{ feltNavn }}"
                name="{{ feltNavn }}"
                data-show-type="dkDate"
                data-validation-event="blur"
                placeholder="Skriv eller vælg dato"
                autocomplete="off"
                maxlength="10"
                aria-required="true"
                aria-invalid="true"
                [attr.data-show-facets]="ingenStartdato ? 'maxDate' : 'minDate!!maxDate'"
                [(ngModel)]="model"
                [attr.data-show-facet-values]="ingenStartdato ? datePickerSlut : datePickerStart + '!!' + datePickerSlut">

            <div class="skts-error-text" role="alert">Datoen skrives som dd-mm-åååå</div>
            <div *ngIf="!ingenStartdato" class="skts-error-text" role="alert">Datoen må ikke være før {{ datePickerStart }}</div>
            <div class="skts-error-text" role="alert">Datoen må ikke være efter {{ datePickerSlut }}</div>
            <div *ngIf="paakraevet" class="skts-error-text" role="alert">Feltet er påkrævet</div>
        </div>

    </div>